$black-900: #31303C;
$black-900-2: #131313;
$black-700: #747380;
$black-500: #B4B2C1;
$black-300: #EFEDFD;
$black-100: #FAFAFC;

$green-dark: #365D3A;
$green-yellow: #CDD646;
$green-blue: #29abe2;
$green-2: #27AE60;

$blue: #508EAB;
$light-blue: #A4D0E7;

$red: #FC9199;
$purple: #A4A4FF;
$orange: #FAC740;
// need to remove
$red-color: #cc1100;
$dashboard-background: #fafafc;
$dashboard-wrapper-background: #ffffff;
$dialog-background: #EEEEEE;

//$header-background: #E7E6E1;
$header-background: #bccfe1;
$block-1: #8CAFCE;
$block-1-hover: #62a5e6;
$container-background: #EBFBFF;
//$block-1: #B3B950;
//$block-1: #D983A1;
$block-2: #E8A87C;
//$block-2: #457C1F;
//$block-2: #8957AC;
$block-3: #C38D9D;
//$block-3: #192E06;
//$block-3: #190A2A;
