$black-900: #31303C;
$black-900-2: #131313;
$black-700: #747380;
$black-500: #B4B2C1;
$black-300: #EFEDFD;
$black-100: #FAFAFC;

$green-dark: #365D3A;
$green-yellow: #CDD646;
$green-blue: #29abe2;
$green-2: #27AE60;

$blue: #508EAB;
$light-blue: #A4D0E7;

$red: #FC9199;
$purple: #A4A4FF;
$orange: #FAC740;
// need to remove
$red-color: #cc1100;
$dashboard-background: #fafafc;
$dashboard-wrapper-background: #ffffff;
$dialog-background: #EEEEEE;

$header-background: #e6e6f1;
