@import "./src/assets/scss/variables";

.container {
  background: $container-background;
  height: calc(100vh - 55px);
  overflow: auto;

}

.m-list {
  background: $header-background;
  padding: 10px 20px;
  border-radius: 5px;
}

.m-list-item {
  span {
    &:nth-child(1) {
      margin-right: 5px;
    }
  }
}

.refresh-icon {
  cursor: pointer;
}

#addMeaningContainer {
  //padding: 0px 20px;
}

.bi {
  font-size: 25px;
}
